services:
  acr:
    container_name: acr
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ~/.cache/huggingface:/root/.cache/huggingface
      - ../out:/out
      - ../data:/data
    working_dir: /app
    tty: true
    stdin_open: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
